$cell-width: 70px;
$grid-border-color: rgba(#ccc, .5);

$axis-x-color: #d5dde5;
$axis-x-bg: #303540;
$axis-x-height: 40px;
$axis-x-border-color: #3d4554;

$axis-y-width: 25%;
$axis-y-bg: #51556a;
$axis-y-border-color: #454858;
$axis-y-color: #fff;

$now-marker-color: rgba(#f93737, .5);
$now-marker-z-index: 10;

$schedule-border-color: #dbdbdb;
$schedule-even-bg: #aaaaaa;
$entity-border-color: #bcbcbc;
$schedule-margin: 12px;
$range-height: 20px;
$dayschedule-range-height: 25px;
$schedule-height: 2 * $schedule-margin + $range-height;
$dayschedule-height: 2 * $schedule-margin + $dayschedule-range-height;

$range-border-radius: 0px;
$range-default-bg: #2980B9;
$range-dayschedule-bg: #27AE60;
$range-opacity: 0.4;

$status-border-width: 10px;
$status-active-color: #27AE60;
$status-busy-color: #d86565;
$status-inactive-color: #d0d0d0;

@import '_x-axis';
@import '_y-axis';
@import '_rulers';
@import '_schedules';
@import '_grid';

