.sd-grid-x-axis-wrapper {
    float: left;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid $axis-x-border-color;
    background-color: $axis-x-bg;
    color: $axis-x-color;
}

.sd-grid-x-axis {
    overflow: hidden;

    .axis-time {
        @extend .clearfix;
    }
}

.sd-grid-scroll-placeholder-horz {
    float: right;
    height: 1px;
}

.sd-grid-scroll-placeholder-vert {
    width: 1px;
}

.sd-grid-axis-time-item {
    float: left;
    text-align: left;
    border-right: 1px solid $axis-x-border-color;
    width: $cell-width;
    font-size: 12px;
    height: $axis-x-height;
    line-height: $axis-x-height;
    padding-left: 5px;
}

.sd-grid-y-label {
    float: left;
    width: $axis-y-width;
    border-right: 1px solid $axis-x-border-color;
    height: $axis-x-height;
    line-height: $axis-x-height;
    padding-left: 10px;
    cursor: pointer;
    @extend .select-none;

    .glyphicon {
        display: inline-block;
        font-size: 10px;
        width: 35px;
        margin-right: 7px;
        text-align: center;
    }
}
