.sd-grid-y-axis {
    float: left;
    width: $axis-y-width;
    overflow-y: hidden;
    border-right: 1px solid $axis-y-border-color;
    background-color: $axis-y-bg;
    color: $axis-y-color;
}

.sd-grid-y-item {
    box-sizing: border-box;

    &.person-status-active {
        .sd-grid-y-item-status {
            background-color: $status-active-color;
        }
        .sd-grid-y-item-avatar {
            border-color: $status-active-color;
        }
    }

    &.person-status-inactive {
        .sd-grid-y-item-status {
            background-color: $status-inactive-color;
        }
        .sd-grid-y-item-avatar {
            border-color: $status-inactive-color;
        }
    }

    &.person-status-busy {
        .sd-grid-y-item-status {
            background-color: $status-busy-color;
        }
        .sd-grid-y-item-avatar {
            border-color: $status-busy-color;
        }
    }

    .dropdown-marker {
        float: right;
        width: 15px;
        font-size: 12px;
        margin-top: 10px;
        margin-right: 5px;
    }
}

.sd-grid-y-item-title {
    padding: 0 $status-border-width 0 10px;
    border-bottom: 1px solid $axis-y-border-color;
    padding-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: $dayschedule-height;
    cursor: pointer;
    position: relative;
    @extend .select-none;
}

.sd-grid-y-item-avatar {
    width: 35px;
    height: 35px;
    border: 4px solid transparent;
    border-radius: 50%;
    margin-right: 7px;
    display: inline-block;
    vertical-align: -13px;
}

.sd-grid-y-item-status {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: $status-border-width;
}

.sd-grid-y-item-schedules {
    font-size: 12px;
    overflow: hidden;
    max-height: none;
    height: 0;

    &.ng-hide-add,
    &.ng-hide-remove {
        transition: max-height 0.2s;
        height: auto;
    }

    &:not(.ng-hide) {
        height: auto;
    }

    &.ng-hide {
        max-height: 0 !important;
    }
}

.sd-grid-y-item-schedule {
    padding: 0 10px 0 20px;
    border-left: 1px solid $axis-y-border-color;
    padding-top: $schedule-margin + 2;
    height: $schedule-height;
    text-align: left;
    border-bottom: 1px solid $axis-y-border-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:before {
        content: '—';
        margin-right: 10px;
    }

    &.dayschedule {
        border-left: none;
        text-indent: 200%;
        overflow: hidden;
    }
}