<div class="sd-grid-entity">
    <div class="sd-grid-schedule dayschedule">
        <sd-range ng-repeat="range in entity.workSchedule.ranges" range-expr="range" grid-dates="dates"></sd-range>
    </div>
    <div class="sd-grid-schedules ng-hide" ng-show="entity.isExpanded" style="max-height: {{entity.schedules.length * 44}}px">
        <div class="sd-grid-schedule"  ng-repeat="schedule in entity.schedules" >
            <sd-range ng-repeat="range in schedule.ranges" range-expr="range" grid-dates="dates"></sd-range>
        </div>
    </div>
</div>