<div class="">
    <button ng-click="setZoom(-1)">Zoom +</button>
    <button ng-click="setZoom(1)">Zoom -</button>
</div>
<div class="sd-grid">
    <div class="sd-grid-x-axis-wrapper">
        <div class="sd-grid-scroll-placeholder-horz"></div>
        <div class="sd-grid-y-label" ng-click="toggleSort()">
            <span class="glyphicon {{sortReverse ? 'glyphicon-triangle-top' : 'glyphicon-triangle-bottom'}}">
            </span>
            Name 
        </div>
        <div class="sd-grid-x-axis">
            <div class="axis-day"></div>
            <div class="axis-time"></div>
        </div>
    </div>

    <div class="sd-grid-y-axis">
        <sd-grid-entity-person ng-repeat="entity in data | orderBy:'name':sortReverse" entity="entity"></sd-grid-entity-person>
       
        <div class="sd-grid-scroll-placeholder-vert"></div>
    </div>

    <div class="sd-grid-body">
        <div class="sd-grid-ranges-wrapper">
            <div class="sd-grid-ruler"></div>

            <sd-grid-entity-schedules ng-repeat="entity in data | orderBy:'name':sortReverse" entity="entity" dates="dates"></sd-grid-entity-schedules>
            
            <div class="sd-grid-now-marker"></div>
        </div>
    </div>
</div>
