<div class="">
    <button ng-click="zoomIn()">Zoom +</button>
    <button ng-click="zoomOut()">Zoom -</button>
</div>
<div class="sd-grid">
    <div class="sd-grid-x-axis-wrapper">
        <div class="sd-grid-scroll-placeholder-horz"></div>
        <div class="sd-grid-y-labels">
            <div class="sd-grid-y-label-name">Name</div>
            <div class="sd-grid-y-label-schedule">Task</div>
        </div>
        <div class="sd-grid-x-axis">
            <div class="axis-day"></div>
            <div class="axis-time"></div>
        </div>
    </div>

    <div class="sd-grid-y-axis">
        <sd-grid-entity-person ng-repeat="entity in data" entity="entity"></sd-grid-entity-person>
       
        <div class="sd-grid-scroll-placeholder-vert"></div>
    </div>

    <div class="sd-grid-body">
        <div class="sd-grid-ranges-wrapper">
            <div class="sd-grid-ruler"></div>

            <sd-grid-entity-schedules ng-repeat="entity in data" entity="entity" dates="dates"></sd-grid-entity-schedules>
            
            <div class="sd-grid-now-marker"></div>
        </div>
    </div>
</div>
