<div class="shd-grid">
    <div class="shd-grid-controls">
        <div class="shd-grid-name-filter">
            <input type="text" ng-model="name" ng-model-options="{ debounce: 400 }">
        </div>
        <div class="shd-grid-caption">
            <div class="shd-grid-zoom-controls">
                <button ng-click="setZoom(-1)">Zoom +</button>
                <button ng-click="setZoom(1)">Zoom -</button>
            </div>
            <div class="shd-grid-caption-date" ng-click="datepicker.open()">{{date}}</div>
            <input type="text" class="form-control" style="visibility: hidden;"
                uib-datepicker-popup="dd-MMMM-yyyy"
                ng-model="date"
                is-open="datepicker.isOpen"/>
            <div class="shd-grid-nav-controls">
                <button>Today</button>
                <button>Prev</button>
                <button>Next</button>
            </div>
        </div>
    </div>
    <div class="shd-grid-x-axis-wrapper">
        <div class="shd-grid-scroll-placeholder-horz"></div>
        <div class="shd-grid-y-label" ng-click="toggleSort()">
            <span class="glyphicon {{sortReverse ? 'glyphicon-triangle-top' : 'glyphicon-triangle-bottom'}}">
            </span>
            Name 
        </div>
        <div class="shd-grid-x-axis">
            <div class="shd_axis-day"></div>
            <div class="shd_axis-time"></div>
        </div>
    </div>

    <div class="shd-grid-y-axis">
        <shd-nav-entity 
            ng-repeat="entity in data | filter:name | orderBy:'name':sortReverse" 
            entity="entity">
        </shd-nav-entity>
       
        <div class="shd-grid-scroll-placeholder-vert"></div>
    </div>

    <div class="shd-grid-body">
        <div class="shd_ranges-wrapper">
            <div class="shd-grid-ruler"></div>

            <shd-grid-entity
                ng-repeat="entity in data | filter:name | orderBy:'name':sortReverse" 
                entity="entity" dates="dates">
            </shd-grid-entity>
            
            <div class="shd-grid-now-marker"></div>
        </div>
    </div>
</div>
