.sd-grid-ruler {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;

    .sd-ruler-item {
        float: left;
        text-align: center;
        height: 100%;
        border: 1px solid $shd-grid-border-color;
        border-left-style: none;
        border-top: none;
        width: $shd-cell-width;
    }
}

// Now Marker
.sd-grid-now-marker {
    width: 3px;
    background-color: $shd-now-marker-color;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: $shd-now-marker-z-index;
    display: none;
}