.shd-grid-ranges-wrapper {
    position: relative;
}

.shd-grid-entity {
    box-sizing: border-box;
}

.shd-grid-schedules {
    overflow: hidden;
    height: 0;

    &.ng-hide-add,
    &.ng-hide-remove {
        transition: max-height 0.2s;
        height: auto;
    }

    &:not(.ng-hide) {
        height: auto;
    }

    &.ng-hide {
        max-height: 0 !important;
    }

}

.shd-grid-schedule {
    position: relative;
    height: $shd-schedule-height;
    border-bottom: 1px solid $shd-grid-border-color;

    &.dayschedule {
        height: $shd-dayschedule-height;
    }

    &.dayschedule {
        .shd-grid-range {
            background: rgba($shd-range-dayschedule-bg, $shd-range-opacity);
            border-color: $shd-range-dayschedule-bg;
            height: $shd-dayschedule-range-height;
            font-size: 10px;
            border-radius: $shd-range-border-radius;
            cursor: auto;
        }
    }
}

.shd-grid-range {
    position: absolute;
    top: $shd-schedule-margin;
    background: rgba($shd-range-default-bg, $shd-range-opacity);
    border: 1px solid $shd-range-default-bg;
    height: $shd-range-height;
    font-size: 10px;
    border-radius: $shd-range-border-radius;
    cursor: auto;
}
