.shd-grid-x-axis-wrapper {
    float: left;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid $shd-axis-x-border-color;
    background-color: $shd-axis-x-bg;
    color: $shd-axis-x-color;
}

.shd-grid-x-axis {
    overflow: hidden;

    .shd_axis-time {
        @extend .clearfix;
    }

    .shd_time-item {
        float: left;
        text-align: left;
        border-right: 1px solid $shd-axis-x-border-color;
        width: $shd-cell-width;
        font-size: 12px;
        height: $shd-axis-x-height;
        line-height: $shd-axis-x-height;
        padding-left: 5px;
    }
}

.shd-grid-scroll-placeholder-horz {
    float: right;
    height: 1px;
}

.shd-grid-scroll-placeholder-vert {
    width: 1px;
}



.shd-grid-y-label {
    float: left;
    width: $shd-axis-y-width;
    border-right: 1px solid $shd-axis-x-border-color;
    height: $shd-axis-x-height;
    line-height: $shd-axis-x-height;
    padding-left: 10px;
    cursor: pointer;
    @extend .select-none;

    .glyphicon {
        display: inline-block;
        font-size: 10px;
        width: 35px;
        margin-right: 7px;
        text-align: center;
    }
}
